body {

  background: lightgreen;

}

#play {
  position: absolute;
  display: flex;
  justify-content: center;
}

#stop {
 position: right;
 margin-left: 50%;
  display: flex;
  justify-content: center;

}

.song-container {
  position: absolute;
  background-color: lightblue;
  height: 50vh;
  width: 50vw;
  padding: 2%;
  border: 5%;
  border-radius: 10px;
  bottom: 15%;
}
